body {
	background-color: palevioletred;
	margin: 0 auto;
}

#game-board {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.minion {
	width: 100px;
	height: 200px;
	background: yellow;
	position: absolute;
	bottom: 0px;
	margin: 0px 100px;
-webkit-border-top-left-radius: 50px;
-webkit-border-top-right-radius: 50px;
-moz-border-radius-topleft: 50px;
-moz-border-radius-topright: 50px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
}

#minion1 {
	left: 50px;
}

#minion2 {
	left: 50%;
	margin-left: -50px;
}

#minion3 {
	right: 50px;
}

.minion > .eye {
	width: 60px ;
	height: 60px;
	background: #fff;
	border:5px solid #ccc;
	border-radius: 50%;
	margin-left: 16px;
	margin-top: 20px;
}

.deadline {
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: 800px;
	left: 0px;
	background: white;
}

#result {
	font-size: 40px;
	width: 200px;
	height: 100px;
	color: white;
	position: absolute;
	left: 10px;
	top: 10px;

}

#level {
	font-size: 40px;
	width: 200px;
	height: 100px;
	color: white;
	position: absolute;
	right: 10px;
	top: 10px;
}

#overlay {
	position: absolute;;
	z-index: 1000;
	background: rgba(0,0,0, 0.3);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#startGame {
	width: 400px;
	height: 150px;
	text-align: center;
	background: white;
	position: absolute;
	z-index: 1001;
	top: 400px;
	right: 40%;
	margin-left: -200px;
-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
}	

#lostGame {
	width: 400px;
	height: 250px;
	text-align: center;
	background: white;
	position: absolute;
	z-index: 1001;
	top: 400px;
	right: 40%;
	margin-left: -200px;
	display: none;
-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
}